body{
  background-color: #99C8F2;
  overflow-y: scroll;
}
h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 3.5rem;
  color: #0A1B26;
  font-weight: 200;
}
h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  color: #0A1B26;
}
h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  color: #0A1B26;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(170px * 3);
}
.main .row:not(:first-child) {
  border-top: 3px solid #0A1B26;
}
.row .column:not(:first-child){
  border-left: 3px solid #0A1B26;
}
.row{
  max-width: fit-content!important;
  display: flex;
  margin-right: auto !important;
  margin-left: auto !important;
}
.cell{
  height: 160px;
  max-height: 160px;
  width: 160px;
  max-width: 160px;
  display: flex;
  justify-content: center;
  align-items:center;
  cursor: pointer;
}
.cell:hover{
  background-color: #5A90BF;
}
.pedra{
  font-size: 7em;
  color: #0A1B26;
  font-family: 'Nunito', sans-serif;
}
#restart-button {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 8px 28px;
  font-size: 1.3em;
}
#referencias p {
  font-size: 1.6em;
  color: #0A1B26;
  font-family: 'Nunito', sans-serif;
}